.date-area {
    background-color: rgb(254, 240, 255);
    border: 1px solid black;
    padding: 1rem;
}

.information-area, .subcontractor-area {
    background-color: rgb(253, 244, 253);
    border: 1px solid black
}

form {
    margin: 2rem;
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
  
}

.send {
    margin-top: 2rem;
    width: 50px;
}

.form-group {
    margin: 10px 0;
}

input, textarea {
    margin-left: 10px;
}